html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: bold;
}

header {
  padding: 30px;
  font-size: normal;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.view-scores {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.recent-scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.refresh-btn {
  padding: 10px 20px;
  box-shadow: 2px 2px #000000;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #000000;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.empty-table {
  text-align: center;
  padding: 50px;
}

.empty-text {
  font-style: italic;
  font-size: 20px;
}

.face-icon {
  font-size: 50px;
}

th {
  font-size: larger;
}

tr:nth-child(even) {
  background: lightgray;
}

.add-scores {
  width: 90vw;
  padding-bottom: 40px;
}

.input-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input-text {
  height: 45px;
  border: 2px solid #000000;
}

.form-btn {
  display: flex;
  align-self: flex-end;
  padding: 10px 20px;
  box-shadow: 2px 2px #000000;
}

.warning-text {
  color: rgb(189, 74, 74);
  font-style: italic;
}

.warning-display {
  display: none;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    column-gap: 50px;
    align-items: normal;
  }

  header {
    font-size: 25px;
  }

  .view-scores {
    padding-left: 10px;
    width: 50vw;
  }

  .add-scores {
    padding-right: 10px;
    width: 30vw;
  }
}